<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "PigCI" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700|Eczar:500|Source+Sans+Pro&display=swap', media: 'all' %>

    <% ['180x180', '152x152', '144x144', '72x72'].each do |favicon_size| %>
      <link rel="apple-touch-icon" sizes="<%= favicon_size %>" href="<%= image_path("apple-touch-icon-#{favicon_size}-precomposed.png") %>" />
    <% end %>
    <link rel="apple-touch-icon" href="<%= image_path("apple-touch-icon-precomposed.png") %>" />
    <link rel="shortcut icon" href="<%= image_path("favicon.png") %>" />
    <link rel="icon" type="image/ico" href="<%= image_path("favicon.ico") %>" />
    <meta name="theme-color" content="#ffffff">
    
  </head>
  <body>
    <div class="bg-white">
      <%= partial 'shared/header' %>
      
      <main class="container pt-2 pb-3" role="main">
        <%= yield %>
      </main>
      <%= partial 'shared/footer' %>
      
    </div>
  </body>
</html>
