<div class="pigci-footer">
  <div class="container">
  
    <div class="row">
      <div class="col-md-6">
        <div class="h5">Product</div>
        
        <ul class="list-unstyled">
          <li>
            <%= link_to 'GitHub', 'https://github.com/PigCI', target: '_blank', rel: 'noopener' %>
          </li>
          <li>
            <%= link_to 'Ruby on Rails Gem', 'https://github.com/PigCI/pig-ci-rails', target: '_blank', rel: 'noopener' %>
          </li>
          <li>
            <%= link_to 'GitHub Integration Deprecation', '/github-integration-deprecation-notice' %>
          </li>
        </ul>
      </div>
      <div class="col-md-6 text-right">
        <p>PigCI was created by <%= link_to 'Mike Rogers', 'https://mikerogers.io/', target: '_blank', rel: 'noopener' %> &copy; PigCI <%= Time.now.year %></p>
      </div>

    </div>

  </div>
</div>
